.App {
  text-align: center;
  padding-top: 5%;
}

.question{
  background-color: #76959F;
  width: 80%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
}
h3{
  color: #1B2D87;
  margin: 30px 0;
}
ul{
  list-style: none;
  padding: 0;
}

li{
  background-color: #6A6C76 ;
  border: 2px solid whitesmoke;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.results{
  background-color: #76959F;
  width: 50%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
}
