.App {
  text-align: center;
}
.results{
  background-color: #76959F ;
  width: 50%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
}

h4{
  width: 100px;
  height: 100px;
  background-color: #1B2D87;
  border-radius: 50%;
  text-align: center;
  padding-top: 5%;
  margin:  0 auto;
}


